header {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 10px;
}

nav {
    border: 1px solid green;
    background-color: #f2f2f2;
    padding: 10px;
}

article {
    background-color: orange;
    padding: 10px;
}

article {
    border: 1px dotted white;
}

aside {
    background-color: blue;
}

footer {
    background-color: #ccc;
}